
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&family=Roboto:ital,wght@0,300;0,500;0,700;1,700&display=swap');

  body{
    font-family: 'Noto Sans',sans-serif;
    padding: 0 2%;
    margin: 0;
  }
/* *************************NAVBAR********************************* */
  nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   position: sticky ;
   top: 0;
  }
 nav .profile{
display: flex; 
align-items: center;


 }

nav .profile img{
   width: 40px;
   clip-path: circle(46.0% at 50% 50%);
  
}

nav .profile h1{
    font-size: 20px;
    margin-left:10px ;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
} 
nav ul a {
  text-decoration: none;
  color: black;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #ffff;
}
 nav ul li:hover{
    border-bottom-color: black;
 }

 @media screen and (max-width: 700px){
    nav{
      justify-content: center;
    }
      nav ul {
        display: none;
      }

      .page-content header{
        margin-top: 10px;
        max-width: 100%;
      }
      .page-content .projects-section{
        margin-top: 15%;
      }

      .page-content .projects-section h1{
        font-size: 1.5em;
      }
      .page-content .projects-section .projects .project {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
      }
 }
 /* *****************************************HEADER******************************** */

 .page-content{
  margin: 4%;
 }

 .page-content header{
  max-width: 80%;
  margin-top: 5%;

 }

 .page-content header h1{
  margin:0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
 }
 .page-content header p{
  line-height: 25px;
  color: #818181;
  text-indent: 30px;
  text-align: justify;
  
 }

 .page-content header a{
  color: black;
  border: none;
  background-color:inherit;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  padding-left: 0;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  cursor: pointer;
 }

 .page-content header a:hover{
  color:#ccc ;
  border-bottom-color: black;
 }
  /*********************************IMG****************************/


  .page-content .presentation-image img{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    /* transition: 0.5s; */
  }
/* 
  .page-content .presentation-image img:hover{
    filter: brightness(50%);
  } */

  /*********************************PROJETS*************************/

  .page-content .projects-section{
    margin-top: 6%;
  }

  .page-content .projects-section h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    text-transform: uppercase;

  }

  .page-content .projects-section .projects{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  .page-content .projects-section .projects .project{
    max-width: 195px;
    margin-right: 30px;
  }

  .page-content .projects-section .projects .project h4{
    margin: 0;
  }
 
  .page-content .projects-section .projects .project .description{
    font-size: 10px;
    
  }

  .page-content .projects-section .projects .project .dates{
    font-size: 13px;
    color: rgb(145, 145, 145);

  }


  /*********************************FOOTER*************************/
  .trait-separateur{
    border-bottom: 1px solid black;
    width: 80%;
    margin: 60px auto;
    
  }
  footer .contact h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    
  }

  footer .footer-icons{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   background-color: white;
   
   /* padding-right: 30px; */
   
  }
 
  footer .footer-icons li a img{
    padding-bottom: 10px;
   /* padding-right: 20px; */
  }


  footer .footer-icons li a img:hover{
   scale: 1.2;
   transition: 0.6s;
  
    /* padding-right: 20px; */
  }
  

  footer .copyright{
    font-size: 0.7em;
   
  }